@import "../../../global.scss";

.experience{
    background-color:#000;
    height: 100vh;
    .container-experience{
        background-color: #000;
        display: flex;
        @include mobile{
            flex-direction: column-reverse;
        }
        .left{
            flex: 0.5;
   
            padding: 40px 60px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include mobile{
                padding: 20px 20px;
             
            }
            .experience-content{
                display: flex;
               
                .top{
                    display: flex;
                    flex-direction: column;
            
                    @include mobile{
                        flex-direction:row;
                    }
                    h1{
                        font-size: 40px;
                        margin-bottom:  10px;
                        color: #fff;
                        @include mobile{
                            font-size:40px;
                        }
                    }
                    p{
                        color: #fff;
                        font-size: 18px;
                        @include mobile{
                            font-size:15px;
                        }
                    }
                }
            }

            .button-slide{
                overflow: hidden;
                margin-top: 20px;
                align-self: center;
                button{
                    border-width: 0;
                    border-radius: 10%;

                    
                    width: 60px;
                    height: 20px;
                    margin-right: 10px;
                    transition: 1s ease;
                    &.active{                      
                        border-radius: 50%;
                        width: 20px;
                        border-width: 0;
                    }

                    @include mobile{
                        width: 40px;
                        height: 20px;
                    }
                }
            }
          
        }

        .right{
            flex: 0.5;
            padding: 40px 0px;
            margin: 20px 40px;
          
            @include mobile{  
                margin:0 100px;
                padding-top: 100px;
             
                align-self: center;
            }
            
            .image-container{

                img{
                    width: 400px;
                    height: 400px;

                    @include mobile{
                        align-self: center;
                        width: 300px;
                        height: 250px;
                    }
                }
            }
        }
    }
}