@import "../../global.scss";

.menu {
    width: 350px;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
    right: -350px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;

    &.active{
        right: 0;
    }

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        font-size:35px;
        font-weight: 300;
        color: $mainColor;
        width: 60%;

        li{
            margin-bottom: 30px;
            a{
                font-size: 35px;
                color: inherit;
                text-decoration: none;
            }

            &:hover{
                font-weight: 500;
            }
        }
    }
}