@import  "../../../global.scss";


.intro_hardware {
    width: 100%;
    overflow: hidden; 
}

.container-intro-hardware {
     
    img{
        background-size: cover;
        background-position: center; 
        width: 100%;
        height: 100vh;
        position: absolute;
    }

    .intro_hardware_text{
        margin: 100px;
        padding: 100px;
        h4{
            font-size: 50px;
            position: relative;          
            text-align: start;
            color: white;
            margin-bottom: 40px;
        }
        p{
            font-size: 30px;
            position: relative; 
            text-align: start;
            color: white;
        }
    }
}
