@import  "../../../global.scss";


.SoftTroubleshoot{
    display: flex;           
    justify-content: center; 
    align-items: center;  
    overflow: hidden;
    width: 100%;
    .container{
        display: flex;           
        align-items: center;     
        flex-direction: column;
        text-align: center;
        

        img{
            display: flex;           
            justify-content: center; 
            align-items: center;     
            width: 600px; 
            height: 500px;
            margin: 30px 0px;
        }

        p{
            font-size: 20px;
            color: #000;
            padding: 0px 100px;
        }
    }

    
}