$mainColor: white;


$width: 768px;
$large-screen-width: 1980px;


@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}

@mixin large-screen {
  @media (max-width: #{$large-screen-width}) {
    @content;
  }
}